<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%== meta_data_tags %>
    <%= canonical_tag(current_store.url) %>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'solidus_starter_frontend' %>
    <%= stylesheet_link_tag 'solidus_starter_frontend', media: 'screen' %>

    <%= javascript_importmap_tags %>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= yield :head %>
    <style>
      header {
        border-bottom: 1px solid #f2f2f2;
        display: block;
        z-index: 10000;
        position: sticky;
        top: 0;
        background-color: rgba(255,255,255,0.5);
      }
      video {
        width: 100dvw;
        min-height: 100dvh;
        /* position: absolute; */
        position: relative;
        top: 0;
        left: 0;
        object-fit: cover; 
      }
      .header-text {
        position: absolute;
        color: white;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        text-align: center;
        transform: translateY(-5rem);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;  
      }
      .header-text h1 {
        font-weight: 400;
        font-size: 1.75rem;
        text-transform: uppercase;
        line-height: 1;
      }
      .header-text span {
        display: block;
        font-weight: 900;
        font-size: 6rem;
      }
      .description {
        position: absolute;
        bottom: 0; 
        left: 0;
        right: 0;
        margin: auto;
        color: white;
        background-color: hsl(181deg 50% 20% / 70%);
        padding: 2rem; 
      }
      .description p {
        max-width: 40rem;
        margin-inline: auto;
        line-height: 1.6;
      }
      .credit {
        font-size: .75rem;
      }
      .credit a {
        color: white; 
        text-underline-offset: 2px;
      }
    </style>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-turbo="false">
    <%= render 'layouts/header', taxons: @taxons, taxon: @taxon %>
    <%= flash_messages %>
    <%= render BreadcrumbsComponent.new(@taxon) %>
    
    <main>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
